<% include ./partials/header %>

    <body class="search-bod">

        <h2 class="main-header"> MOVIE MANIA </h2> <h2 class="main-header-down"> DATABASE</h2>

        <div class="container-search">
            <h2 class="box-text-search"> LOOK FOR A MOVIE </h2>

            <form action="/results" method="GET">
                <!-- the connection to the page /results and the type of request it is -->
                <input type="text" placeholder="Movie name..." name="search">
                <!-- the name="" is IMPORTANT because whatever the user enters will be put into search(the key value pair in the query string...in the search bar will change to reflect this) -->
                <div class="submit-search">
                <button class="btn btn-primary btn-large" type="submit">SEARCH </button>
                </div>

            </form>
        </div>
    </body>

    <% include ./partials/header %>